<h1> Test </h1>
<h2> <%= User.last.name %></h2>
<h3> <%= session[:user].name %></h3>
<form action="/create_post" method="post">
  <input type="text" name="title" placeholder="title">
  <input type="text" name="gif_path" placeholder="gif path">
  <input type="text" name="message" placeholder="message">
  <input type="submit" value="Send">
</form>
